<section class="sticky-top">
    <div class=" bg-white videoWrapper" id="mainvideo">
    </div>
    <div class="bg-white" id="mainVideoTitle">
        
    </div>
</section>

<div class="container">
    <section id="videoloop">
    </section>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {

        var key = 'AIzaSyArpdeGfjTl9obTX-75MeEtxTXvSBm-0SY';
        var playlistId = 'PLqg6g_snqtMI4O5swZToOo5p3EjX-Ykm5';
        var URL = 'https://www.googleapis.com/youtube/v3/playlistItems';

        var options = {
            part: 'snippet',
            key: key,
            maxResults: 100,
            playlistId: playlistId
        };

        loadPlaylistItems();

        function loadMainVideo(videoId) {
            document.getElementById('mainvideo').innerHTML = `
                <iframe class="2" width="560" height="315" src="https://www.youtube.com/embed/${videoId}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
            ` 
        };

        function loadPlaylistItems() {
            $.getJSON(URL, options, (data) => {
                console.log(data);
                loadMainVideo(data.items[0].snippet.resourceId.videoId);
                videoloop(data.items);
            });
        };

        function videoloop(itemsArray) {
            itemsArray.forEach((item) => {
                let thumb = item.snippet.thumbnails.medium.url;

                $('#videoloop').append(
                    `<div class="row bg-white class-card my-4 mx-2 align-content-center video-card"
                        onclick="changeMainVideo('${item.snippet.resourceId.videoId}', '${item.snippet.title}')">
                        <div class="col-sm-4 p-0">
                            <img src="${thumb}" class="img-fluid class-card-img" style="width: 1000px; object-fit: cover;" alt=""> 
                        </div>
                        <div class="col-sm-8 my-auto py-2">  
                            <p class="font-weight-bold h6"> ${item.snippet.title} </p>
                            <p class="">  </p>
                        </div>
                    </div>`
                )
            });
        };


    });

    function changeMainVideo(videoId, title) {
        document.querySelector('#mainvideo iframe')
            .setAttribute('src', `https://www.youtube.com/embed/${videoId}`);
        console.log(title)
    };

</script>